:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-iran-sans), "Segoe UI", Tahoma, Arial, Helvetica,
    sans-serif;
  font-variant-ligatures: normal;
  font-feature-settings: "kern" 1, "liga" 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-iran-sans {
  font-family: var(--font-iran-sans), "Segoe UI", Tahoma, Arial, Helvetica,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

